<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="天天记账是今年新推出的记账软件。简约、大方、实用、而且完全免费。天天记账让记账成为习惯！希望大家会喜欢。">
    <meta name="author" content="{{ site.author }}">
    <meta name="keywords" content="记账,账本,iphone,ios,app,软件,理财,消费,支出,收支,发票,免费,简单,账单,方便,人气,账簿,记账簿,收据,管理,钱,管钱,管家,节约,省钱,推荐,jizhang,expense,spend,家計簿,零花钱">
    <link rel="shortcut icon" href="img/favicon.png">
    <link rel="apple-touch-icon" href="img/Icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/Icon-72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/Icon-114.png">

     <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>   

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62827170-3', 'auto');
  ga('send', 'pageview');
</script>
</head>